

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 1px;
    padding: 5px;
    font-family: Roboto'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.root {
    --bleu: #fff;
    --blanc: #3498db;
}






.navbar {
   display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(#3498db);
    
    

}
.menu  {
    display: flex;
    gap: 20px;
    list-style: none;
    background:var(--blanc) ;
}


.ancre a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;

}
.ancre a:hover {
    color: #3498db;
    transform: scale(1.1);
}
   

